<%= tweet.content %>
-- <%= link_to tweet.user.username, user_url(tweet.user.id) %>
-- <%= tweet.created_at %>

<% if tweet.mentioned_users.length > 0 %>
  <ul>
    <% tweet.mentioned_users.each do |mentioned_user| %>
      <li><%= link_to mentioned_user.username, user_url(mentioned_user) %></li>
    <% end %>
  </ul>
<% end %>


<script type="application/template" id="tweet-id">
<%%= tweet.content %>
-- <a href="<%%= user_url(tweet.user.id) %>"><%%= tweet.user.username %></a>
-- <%%= tweet.created_at %>

<%% if tweet.mentioned_users.length > 0 %>
  <ul>
    <%% tweet.mentioned_users.each do |mentioned_user| %>
      <li><a href="<%%= user_url(mentioned_user) %>"><%%= mentioned_user.username %></a></li>
    <%% end %>
  </ul>
<%% end %>
</script>

